{% extends 'base.html' %}
{% block title %}
New client
{% endblock %}
{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name = 'client_name' placeholder="Имя"><br>
        <input type="text" name = 'client_email' placeholder="Почта"><br>
        <input type="text" name = 'client_phone' placeholder="Телефон"><br>
        <input type="text" name = 'client_address' placeholder="Адресс"><br>
        <input type="submit">
    </form>

{% endblock %}